@model Models.Media

@if (Model != null)
{
    if (!Model.Shared && Model.OwnerId != Models.User.ConnectedUser.Id && !Models.User.ConnectedUser.IsAdmin)
    {
                    <div style="color: red; font-size: x-large">La vidéo n'est plus partagée</div>
    }
    else
    {
        User owner = DAL.DB.Users.Get(Model.OwnerId);
        string connected = Model.OwnerId == Models.User.ConnectedUser.Id && Model.Shared ? "[Partagé]" : "";
    <dl>
        <dd style="color: #808080">
            @shared
        </dd>

        <dd>
            @Model.Title
        </dd>
        <dd>
            @Helper.YoutubePlayer(Model.YoutubeId)
        </dd>
        <dd class="description">
            @Model.Description
        </dd>
        <dt>
            Catégorie
        </dt>

        <dd>
            @Model.Category
        </dd>

        <dt>
            Date de publication
        </dt>

        <dd>
            @Helper.When(Model.PublishDate)
        </dd>

        <dt>
            Ajouté par
        </dt>

        <dd>
            <img class="UserSmallAvatar transparentBackground" src="@owner.Avatar"/>
            @owner.Name
        </dd>

    </dl>
    }
}
